@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 11px;
  background-color: orange;
}

#cards-container {
  justify-self: center;
  align-self: center;
  background-color: black;
  width:fit-content;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
}

img {
  margin: 10px;
}

#message {
  font-family: comic sans ms;
  font-size: 25px;
  margin-left: 20px;
}

#reset {
  margin-left: 195px;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 15px;
  background: white;
  border: none;
  padding: 7px;
  color:rgb(38, 114, 114);
}

#reset:hover {
  cursor: pointer;
}

#toad-msg {
  background-color: white;
  border-radius: 15px;
  padding-left: 20px;
  padding-top: 1px;
}